{% extends "base.html" %}
{% block content%}
<h1>Welcome, {{ userName }}!</h1>
<!--<ul class="list-group-item list-group-flush" id="messages">-->
<!--  {% for message in  user.messages %}-->
<!--    <li class="list-group-item">{{ message.message_text }}<button type="button" class="close">-->
<!--        <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
<!--    </li>-->
<!--  {% endfor %}-->
<!--</ul>-->
<br>
<div id="messages"></div>
<div class="container" align="center">
<!--    <form method="POST">-->
    <input style="height: 2rem;text-align: center" type="text" id="username" name="username" class="form-group" placeholder="Enter Your name!">

    <input style="height: 2rem;text-align: center" type="text" id="message" name="message" class="form-group" placeholder="Enter Your Message!">
        <br>
    <button type="submit" class="btn btn-primary" id="send-btn">Send</button>
<!--        </form>-->
</div>
    <script type="text/javascript">
        $(document).ready(function (){
            let socket = io.connect("http://192.168.1.47:5000")
            socket.on('connect', function () {
                socket.send("User connected!")
            });
            socket.on('message', function (data) {
             $('#messages').append($('<p>').text(data));
            });
            $('#send-btn').on('click',function () {
                socket.send($('#username').val()+":"+$('#message').val());
                $('#message').val('');
            });
        });
    </script>
{% endblock %}
