*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
:root{
    --primary-color:#ffffff;
    --secondary-color:#9d9b9b;

}
body{
    background-color: lightgreen;
}
.container{
    max-width: 1024px;
    width: 100%;
    background-color: var(--secondary-color);
}
.innerContainer {
    display: flex;
    width: 60%;
}
.user-img {
    background-image: url("https://i.pinimg.com/564x/9a/fc/01/9afc012a808f44ab888bc1b6314aa606.jpg");
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
}
.chatRooms{
    display: flex;
    flex-direction: column;
    width: 40%;
    background-color: var(--primary-color);
}
.chatBody{
    display: flex;
    flex-direction: column;
}
.users{
    margin-left: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: left;
}

.favorite{
    display: flex;
    flex-direction: column;
    gap: 20px;
}